html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*Jumbotron*/

/*.jumbotron {
    background-image: url("../img/Return_of_Sports.jpg");
    background-size: cover;
    opacity: 0.6;
}*/

.jumbotron h1{
    font-family: 'Century Gothic';
    color: white;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}
.jumbotron p {
    font-family: 'Century Gothic';
    color: white;
    font-weight: 100;
    text-align: center;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

@media(max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}
