@model IEnumerable<PlannerApplication.Models.activity>

<div class="row justify-content-center">
    <div class="col-md-4">
        @using (Html.BeginForm("PostNew", "Home"))
        {
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title form-group">
                        <strong>Aktivitet:</strong>
                        <select id="activites" name="_activity">
                            @foreach (var activities in Model)
                            {
                                <option value="@activities.Name">@activities.Name</option>
                            }
                        </select>
                    </h5>
                    <p class="card-text">
                        <strong>Rubrik: </strong>
                        <input type="text" class="form-control" id="na" name="_headline" placeholder="Information om evenemanget..." required>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Var:</strong>
                        <input type="text" class="form-control" id="na" name="_where" required>
                    </li>
                    <li class="list-group-item">
                        <strong>När:</strong>
                        <input type="datetime-local" class="form-control" id="na" name="_when" required>
                    </li>
                    <li class="list-group-item">
                        <strong>Ansvarig:</strong>
                        <input type="number" class="form-control" id="na" name="_owner" required>
                    </li>
                </ul>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Skapa</button>
            </div>
        }
    </div>
</div>






